nav {
    display: flex;
    background-color: rgb(0, 21, 41);
    color: white;
    align-items: center;
    height: 70px;
    justify-content: center;
}

.navs {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    margin-right: 30px;
    align-items: center;
    margin: 0;
}

.navs li {
  margin: 0 20px;
}

.navs li:not(.navs li:last-child){
  padding: 20px;
}

.navs li:last-child{
  margin-left: 40px;
  padding: 20px;
}

.navs li:hover{
  background-color:rgba(0,0,0,5);
  border-radius: 0.5em;
  cursor: pointer;
}

.navs li a:hover {
  color: rgb(142, 241, 142) !important;  
}


.logo{
  width: 30%;
  height: auto;
  margin-bottom: -1em;
}

.logo2{
  width: 100%;
  height: auto;
  margin-bottom: -1em;
  margin-top: -2em;
}

.logo3{
  width: 80%;
  height: auto;
  margin-bottom: -4em;
  margin-top: -4em;
}

.logo4{
  cursor: pointer;
}



.tabs{
  margin: 20px 0 10px 0;
  width: 50%;
  padding: 5px;
  border-radius: 10px;
}


.tabs:hover{
  cursor: pointer;
}

table {
  margin-right: auto;
  margin-left: auto;
  width: 30%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}




@media only screen and (max-width: 600px) {

  .navs{
    justify-content: center;
  }

  .navs li{
    margin: 0 !important;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  ul.navs{
    padding: 0;
  }
  
  .logo3{
    
    margin-bottom: -2em;
    margin-top: -2em;
  }

  h4{
    font-size: 1em !important;
  }

  .phrase{
    font-size: x-small;
    margin-top: 1vh;
    font-style: italic;
  }

}